.discussion {
    background-color: $main-light-color;
    padding: 180px 0 128px;
    background-image: url(../images/phone.svg), url(../images/wave_ball.svg);
    background-repeat:  no-repeat no-repeat;
    background-position: 15% 60%, 85% 45%;
    @include media('lg'){
        background-position: -1% 60%, 97% 53%;
    }
    @include media('md'){
        padding: 42px 0 40px;
        background-image: none;
    }
    
    .title{
        @include media('md'){
            margin-bottom: 20px;
        }
    }
}

.discussion-form {
    margin: 0 auto;
    max-width: 470px;
}
.form {
    text-align: center;
    .btn {
        display: inline-block;
        margin-top: 10px;
        @include media('xs'){
            margin-bottom: 42px;
        }
    }
    input{
        color:#939393;
        width: 100%;
        height: 58px;
        border-radius:10px;
        margin-bottom: 20px;
        border: 1px solid $main-color;
        padding:0 14px;
        box-sizing:border-box;
        &:focus{
            outline: 2px solid $main-color;
        }
    }
}
.form-info {
    text-align: center;
    margin-bottom: 27px;
    @include media('md'){
        font-size: 17px;
        margin-bottom: 25px;
    }
}
.input-wrapper{
    position: relative;
}
.input-warnnig{
    position: absolute;
    left: 10px;
    bottom: 2px;
    color: red;
    font-size: 13px;
}

.discussion-img__wrapper{
    text-align: center;
}
