.examples{
    background-color: $main-light-color;
    padding: 121px 0;
    background-image: url(../images/pink_wave.svg), url(../images/ball.svg);
    background-position: 5% 20%,95% 80%;
    background-repeat: no-repeat no-repeat;
    @include media('md'){
        padding: 40px 0 40px;
        background-image: none;
    }
    @include media('xs'){
        padding: 25px 0 30px;
        background-image: none;
    }
    .title{
        @include media('sm'){
            margin-bottom: 30px;
        }
        @include media('xs'){
            margin-bottom: 15px;
        }
    }
}
.example-item {
    position: relative;
    padding-top: 77%;
    margin-bottom: 38px;
    border-radius: 15px;
    overflow: hidden;
    transition: all .5s ease-in;
    cursor: pointer;
    @include media('sm'){
        margin-bottom: 30px;
    }
    @include media('xs'){
        margin-bottom: 15px;
    }
    &:hover,&:active{
        &::after{
           opacity: 1;
        }
        .example-item__info{
            visibility: visible;
            h3{
                transform: translateX(0);
            }
            p{
                transform: translateX(0);
            }
        }
    }
    &::after{
        content: "";
        display: block;
        position: absolute;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        width: 100%;
        height: 100%;
        background-color: $main-color;
        z-index: 0;
        top: 0;
        left: 0;
    }


    &__img {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        min-width: 100%;
        min-height: 100%;
        transition: transform .3s ease-in;
        object-fit:cover;
    }

    &__info {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index:4;
        visibility: hidden;
        text-align: center;
        width: 100%;
        h3{
            color:#fff;
            font-size: 21px;
            font-weight: 700;
            margin-bottom: 0px;
            transform: translateX(-100%);
            transition: transform .4s ease-in-out;
            @include media('md'){
                font-size: 17px;
                text-transform: uppercase;
            }
        }
        p{
            color:#fff;
            margin: 0;
            transform: translateX(100%);
            transition: transform .4s ease-in-out;
            @include media('md'){
                font-size: 17px;
            }

        }
    }
}
.examples-slider{
    @include min-media('xs'){
        display: none;
    }
}
.mob-non{
    @include media('xs'){
        display: none;
    }
}
