.footer{
    background-color: $main-color;
    padding: 101px 0 79px;
    @include media('md'){
        padding: 46px 0 152px;
        text-align: center;
    }
    &__logo{
        display: inline-block;
        margin-bottom: 45px;
        @include media('md'){
            margin-bottom: 26px;
        }
    }
   
    &__rights{
        text-align: center;
        color:#fff;
        @include media('md'){
            font-size: 14px;
            padding: 0 20px;
        }
    }
    a:hover{
        color:$main-light-color;
        text-decoration: underline;
    }
}
.social{
    display: flex;
    margin-bottom: 120px;
    @include media('md'){
        display: none;
    }
    li{
        &:not(:last-child){
            margin-right: 38px;
        }
    }
    &-link{
        transition: transform .4s ease-in-out;
        display: block;
        &:hover{
            transform:scale(1.12);
        }
        
    }
}
.contact{
    margin-top: 20px;
    @include media('md'){
        display: inline-block;
        margin-bottom: 57px;
        margin-top: 0;
    }
    &-link{
        text-transform: capitalize;
        display: flex;
        margin-bottom: 7px;
        font-size: 20px;
        color:#fff;
        @include media('md'){
            font-size: 16px;
        }
        img{
            margin-right: 9px;
        }
    }
}
.mob-social{
    display: flex;
    justify-content:center;
    margin-bottom: 41px;
    li:not(:last-child){
        margin-right: 25px;
    }
    @include min-media('md'){
        display: none;
    }
}
.footer-email__wrapper{
    margin-top: 20px;
    @include media('md'){
        margin-bottom: 24px;
        margin-top: 0;
        text-align: center;
        
    }
    @include media('sm'){
        text-align: center;
        margin-left: unset;
    }
    @include media('xs'){
        margin-left: 16%;
        text-align: left;
    }
    
}
.footer-email__link{
    display: inline-block;
    font-size: 20px;
    color:#fff;
    @include media('md'){
        font-size: 16px;
    }
   
}
