
@include font-face("Montserrat", montserrat-v24-latin-regular, 400);
@include font-face("Montserrat", montserrat-v24-latin-600, 600);
@include font-face("Montserrat", montserrat-v24-latin-700, 700);
@include font-face("Montserrat", montserrat-v24-latin-800, 800);
@include font-face("Montserrat", montserrat-v24-latin-900, 900);

// @include grid();

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    max-width: $main-width;
    margin: 0 auto;
    padding: 0 $default-gap;
}

.row {
    margin: 0 (-$default-gap);
    display: flex;
    flex-wrap: wrap;
}

[class*="col-"] {
    padding: 0 $default-gap;
    box-sizing: border-box;
}

.page {
    font-family: $main-font-text, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: $main-font-size;
    line-height: $main-font-line-height;
    font-style: normal;
    background-color: #fff;
    color: $text-color;
}

.btn {
    display: flex;
    background-color: $primery-color;
    color: #fff;
    height: 60px;
    width: 270px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 15px;
    border:2px solid $primery-color;
    text-transform: uppercase;
    font-weight: 700;
    transition: all .4s ease-in-out;
    box-sizing: border-box;
    cursor: pointer;
    &:hover {
        color: #fff;
        border-color: $main-color;
    }
    @include media('xs'){
        width: 100%;
    }
}


.title {
    font-size: 32px;
    margin-bottom: 50px;
    color: #111;
    margin-top: 0;
    line-height: 1.2;
    font-weight: 800;
    text-align: center;
    @include media('md'){
        font-size: 23px;
    }
}
.mob-only{
    @include min-media('xs'){
        display: none;
    }
}
.ta-c-mob{
    @include media('md'){
        display: flex;
        justify-content: center;
    }
}


