.header {
   padding: 261px 180px;
   position: relative;
//    overflow: hidden;
    background-image: url(../images/header_cart.svg), url(../images/header-wave.svg), url(../images/blue_ball.svg);
    background-position: right center, left 90%, 12% 24%;
    background-repeat: no-repeat, no-repeat, no-repeat;
}
.nav {
    position: fixed;
    z-index: 999;
    background-color: $main-color;
    padding: 18px 0;
    width: 100%;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    @include media('md'){
        top:0;
        position: fixed;
        padding: 8px 0;
    }

    @include media('sm') {
       
    }
    &-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo {

    &__link {
        display: block;
    }

    &__img {
        display: block;
        @include media('md'){
            max-width: 136px;
        }
    }
}

.menu-wrapper {
    @include media('md') {
        position: fixed;
        z-index: 99;
        text-align: center;
        padding: 5px 16px 20px;
        left: 0;
        height: 100vh;
        right: 0;
        top: 49px;
        background-color: $main-color;
        transition: transform .4s ease-out;
        transform: translateX(-100%);
    }
}


.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    @include media('md') {
        flex-direction: column;
        .btn-nav{
            display: none;
        }
        
    }

    @include min-media('md') {

        align-items: center;
    }


    &__item {
        &:not(:last-child){
            margin-right: 37px;
        }
       
        

        @include media('md') {
            margin-right: 0px;
            margin-bottom: 40px;

        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        color: #fff;
        transition: all .4s ease-in-out;
        position: relative;
        font-size: 16px;
        font-weight: 600;
        display: block;
        padding: 3px 0;
        
        @include media('md') {
            font-size: 17px;
            text-transform: uppercase;
            font-weight: 800;
            display: block;
            margin-bottom: 0px;
            color:#fff;
            display: inline-block;
            border-bottom:2px solid transparent;
            &:hover{
                border-bottom:2px solid #fff;
            }
            &:active{
                border-bottom:2px solid #fff;
            }

        }
        @include min-media('md') {
            &:hover {
                color: $text-color;

                &::after {
                    width: 100%;
                    visibility: visible;
                    left: 0;
                }

            }
        }
    }
}
.btn-nav{
    height: 38px;
    width: 170px;
    &:hover{
        border-color:#fff;
    }
    &:active{
        background-color: #fff;
        color:$main-color;
    }
}
.humbeurger {
    @include min-media('md') {
        display: none;
    }

    cursor: pointer;
    position: relative;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.humbeurger__item {
    height: 13px;
    width: 13px;
    background-color: #fff;
    position: relative;
    border-radius: 50%;
    transition: all .5s ease-in-out;


    &::before,
    &::after {
        content: '';
        display: block;
        height: 13px;
        width: 13px;
        background-color: #fff;
        position: absolute;
        border-radius: 50%;
        transition: all .5s ease-in-out;
    }

    &::before {
        top: 0px;
        left:20px
    }

    &::after {
        top: 0px;
        right:20px;
    }
}

.humbeurger-active {
    &~.menu-wrapper {
        transform: translateY(0);
    }

    .humbeurger__item {
        height: 30px;
        width: 30px;
    }

    .humbeurger__item::before {
        height: 2px;
        width: 20px;
        border-radius:0;
        top:49%;
        left: 5px;
        background-color: #000;
        transform:  rotate(45deg);
        transform-origin: center;
    }

    .humbeurger__item::after {
        transform:  rotate(-45deg);
        transform-origin: center;
        right: 5px;
        top:49%;
        height: 2px;
        width: 20px;
        border-radius:0;
        background-color: #000;
    }
}
.header-title{
    font-size: 50px;
    font-weight: 900;
    line-height: 1.25;
}
.header-text{
    font-size: 16px;
    margin-bottom: 58px;
    @include min-media('md') {
        max-width: 382px;
    }
}
