.more{
    padding: 216px 0 180px;
    background-image: url(../images/blue_ball.svg), url(../images/Orders.svg);
    background-repeat: no-repeat no-repeat;
    background-position: 10% 23%, 80% 55%;
    .title{
        text-align: left;
    }
    p{
        margin-bottom: 45px;
    }
}
