.services {
    padding: 120px 0;
    background-color: $main-light-color;
    @include min-media('lg'){
        background-image:url('../images/bag.svg');
        background-repeat:no-repeat;
        background-position: 95% 80%;
    }
    @include media('md'){
            padding: 50px 0;
            background-image: none;
    }
    @include media('sm'){
        padding: 30px 0;
        background-image: none;
}
    .title{
        @include media('md'){
            margin-bottom: 30px;   
        }
        @include media('sm'){
            margin-bottom: 20px;   
        }
    }
}

.accordion {
    background-color: #fff;
    border-radius:15px;
    cursor: pointer;
    padding: 14px 16px 15px 96px;
    position: relative;
    transition: all .4s ease-in-out;
    &::before {
        content: '';
        position: absolute;
        width: 24px;
        height: 24px;
        background-color: $primery-color;
        display: block;
        border-radius:50%;
        left: 44px;
        top: 15px;
        transition: background-color .4s ease-in-out;
        @include media('md'){
            width: 15px;
            height: 15px;
            left: 24px;
            top:18px;
        }
    }  
    &::after {
        content: '';
        position: absolute;
        width: 13px;
        height: 13px;
        border-right: 2px solid #000;
        border-bottom: 2px solid #000;
        display: block;
        right: 42px;
        top: 15px;
        transform: rotate(45deg);
        transition: all .2s ease-in-out;
    }
    @include media('sm'){
        font-size: 17px; 
        padding:14px 75px 17px 57px;   
    }
    @include media('md'){
        font-size: 17px; 
        padding:14px 64px 17px 57px;   
    }
    &-item{
        margin-bottom: 10px;
    }
}.active{
    padding-bottom: 40px;
}
.active::before{
    background-color: $main-color;
}
.active::after{
    transform: rotate(225deg);
    top:22px;
}
.active .panel{
    padding-bottom: 35px;
    overflow: visible !important;
}
  
.panel {
    max-height: 0;
    transition: all 0.2s ease-out;
    box-sizing:border-box;
    overflow: hidden;
   
    p{
        padding: 15px 69px 15px 0px;
        position: relative;
        &::before{
            content:'';
            display: block;
            width: 2px;
            height: 100%;
            background-color: $text-color;
            position: absolute;
            left:-42px;
            top:0px;
            @include media('md'){
                left: -28px; 
            }
        }
    }
}
