.stages{
    padding: 123px 0 128px;
    overflow: hidden;
    background-image: url(../images/ball.svg), url(../images/blue_wave.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 10% 11%, 78% 93%;
    background-size:3%, 6%;
    @include media('md'){
        padding: 55px 0;
        background-image: none;
    }
    @include media('sm'){
        padding: 42px 0 45px;
        background-image: url(../images/ball.svg);
        background-repeat: no-repeat;
        background-position: -10px 15px;
        background-size:10%;
    }
}
.stages-slider{
    position: relative;
    height: 535px;
    @include media('md'){
        height: unset;
    }
    h3{
        font-size: 21px;
        margin-bottom: 29px;
        width: 80%;
        @include media('md'){
            text-transform: uppercase;
            font-size: 17px;
            margin: 0px;
            margin-bottom: 10px;

        }
    }
    p{
        @include media('lg'){
            margin: 0;
            margin-bottom: 56px;
            font-size: 17px;
        }
    }
}
.swiper {
    overflow: visible;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    @include media('md'){
        position: relative;
    }
    &-wrapper{
        margin-bottom: 80px;
        @include media('md'){
            margin-bottom: 25px;
        }
    }
  }
.swiper-slide{
    border:2px solid $main-color;
    border-radius: 15px;
    padding: 53px 17px 59px 50px;
    height: 405px;
    box-sizing: border-box;
    @include media('md'){
        height: unset;
        padding: 27px 29px 31px 33px;
    }
}

.swiper-arrows{
    text-align: center;
}
.swiper-arrow-next, .swiper-arrow-prev{
    user-select: none;
    position: relative;
    display: inline-block;
    border-radius:15px;
    height: 58px;
    width: 58px;
    border:2px solid $main-color;
    cursor: pointer;
    &:active{
        background-color: $main-color;
        &::after{
            border-color:#fff;
        }
    }
    &:after{
        content: "";
        position: absolute;
        
        display: block;
        width: 20px;
        height: 20px;
        border-bottom: 2px solid #000;
        border-right: 2px solid #000;
    }
}
.swiper-arrow-prev{
    margin-right: 30px;
    @include media('md'){
        margin-right: 107px;
    }
    &:after{
        top: 32%;
        left: 40%;
        transform: rotate(135deg);
    }
}
.swiper-arrow-next{
    &:after{
        top: 32%;
        left: 22%;
        transform: rotate(315deg);
    }
}
.images-wrapper{
    display: flex;
    align-items: center;
    height: 100%;
    @include media('md'){
        justify-content: center;
    }
}
