// Colors
$main-color:#67AEFC;
$main-light-color:#DAECFF;
$main-dark-color: #6D79EF;
$primery-color: #75E169;
$text-color :#000000;


// Global Style
$main-width: 1170px;
$default-gap: 15px;

// Fonts
$main-font-size:18px;
$main-font-line-height:1.4;
$main-font-text:'Montserrat';


$path-fonts: '../fonts/';

$beack-points: (
    "xl": 2500px,
    "lg": 1400px,
    "md": 992px,
    "sm": 768px,
    "xs": 576px);
